@inject IJSRuntime JsRuntime
@using Newtonsoft.Json;
@using BlazorAnimate;

<section class="crew-body">

    <div class="member-info">

        <h2>@member.crew[@Index].role.ToUpper()</h2>
        <h1>@member.crew[@Index].name.ToUpper()</h1>
        <p>
            @member.crew[@Index].bio
        </p>

        <div class="progress-container">
            <div @onclick="@(() => ActiveIndicator(0))" class="circle active"></div>
            <div @onclick="@(() => ActiveIndicator(1))"  class="circle"></div>
            <div @onclick="@(() => ActiveIndicator(2))"  class="circle"></div>
            <div @onclick="@(() => ActiveIndicator(3))"  class="circle"></div>
        </div>
    </div>
    <img src="@member.crew[@Index].images.png" alt="Commander" />
</section>

@code {
    async Task ActiveIndicator(int num)
    {
        await JsRuntime.InvokeVoidAsync(identifier: "crewIndicators");
        Index = num;
    }

    #region Crew Model
 
    public int Index { get; set; }


    public static string DestinationData = @"C:\Users\rynmo\OneDrive\Desktop\MSSA\UnitedTraining\Project3\SpaceTourismWebSite\Data\crew-members.json";
    static string jsonFile = File.ReadAllText(DestinationData);


    CrewMember.Rootobject member = JsonConvert.DeserializeObject<CrewMember.Rootobject>(jsonFile);

    #endregion
}
